In [1]:
    print('Hello World!')

Hello World!

In [2]:
# First notebook

In [3]:
# Variables in Python

In [4]:
x = 22
print (x)

22

In [5]:
type (x)

int

In [6]:
y = "saph"
print (y)

saph

In [7]:
type (y)

str

In [8]:
print

In [9]:
x,y,z = 'choco', 'ice', 'love'
print (x)
print (y)
print (z)

choco
ice
love

In [10]:
x = y = z = "love"
print (x)
print (y)
print (z)

love
love
love

In [11]:
ice_cream = ['choco', 'ice', 'mint']
x,y,z = ice_cream 
print (x)
print (y)
print (z)

choco
ice
mint

In [12]:
# Camel Case
# Test Variable Case
testVariableCase = 'Vanilla'

In [13]:
# Snake Case
# Test Variable Case
TestVariableCase = 'Vanilla'

In [14]:
# Pascal Case
# Test Variable Case
test_variable_case = 'Vanilla'

In [15]:
#can do
test_var = 'Vanilla'
testvar = 'Vanilla'
_test_var = 'Vanilla'
TestVar = 'Vanilla'
testvar2 = 'Vanilla'

In [16]:
# cannot do
2testvar = 'Vanilla'
_test-var = 'Vanilla'

SyntaxError: invalid decimal literal (3381605234.py, line 2)

In [ ]:
x = 'Ice cream is my fav' + '.'
print (x)

In [ ]:
cannot add str and int
x = 'Ice cream is my fav' + '2'

In [ ]:
x = 5 + 2
print(x)

In [ ]:
x = 'Saph'
y = ' is'
z = ' a girl.'
print(x+y+z)

In [ ]:
#Data Types
type(-12)

In [ ]:
type(-12+10.25)

In [ ]:
type(-12 + 3j)

In [ ]:
#Boolean Data
type(True)

In [ ]:
type(False)

In [ ]:
type(1 > 5)

In [ ]:
1 > 5

In [ ]:
1 == 1

In [ ]:
#Sequence
#Strings
'Single quote'

In [ ]:
"Double quote"

In [ ]:
multiline = """
I like icecream but i also like rice and meat plus idk everyhting
"""

In [ ]:
print(multiline)

In [ ]:
""
I've always wanted to eat a galllon of "icecream".
""

In [ ]:
type(multiline)

In [ ]:
a = 'Hello World'

In [ ]:
print(a[2:5])

In [ ]:
a*3

In [ ]:
a + 3

In [ ]:
a + a

In [ ]:
#list
[1,2,3]

In [ ]:
['Saph','SAW','RAM']

In [ ]:
     ['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [ ]:
ice_cream = ['Vanilla', 3, ['Scoops', 'Spoon'], True] 
ice_cream.append('MINT')
ice_cream

In [ ]:
ice

In [ ]:
ice_cream[0] = 'Oreo'
ice_cream

In [ ]:
nest_list = ['Oreo', 3, ['Scoops', 'Spoon'], True, 'MINT']

In [ ]:
nest_list[2] [1]

In [ ]:
#tuple (you cannot add or change anything like list so we cannot use append function)
tuple_scoops = (1,2,3,2,1)

In [ ]:
type(tuple_scoops) #check data type type(insert here...)

In [ ]:
tuple_scoops[0] #we use it when the data is never going to change like country, location

In [ ]:
#Sets   (they donot have duplicates and cannot use index)

daily_pints = {1,2,3}

In [ ]:
type(daily_pints)

In [ ]:
print(daily_pints)

In [ ]:
daily_pints_log = {0,1,2,3,4,1,6,7,8,2,5,5,6,7,8}
print(daily_pints_log)

In [ ]:
wifes_daily_pints_log = {1,2,3,9,10,11,11,12,13,14,2,3,9}
print(daily_pints_log & wifes_daily_pints_log)  #common

In [ ]:
print(daily_pints_log | wifes_daily_pints_log) #combine

In [ ]:
print(daily_pints_log - wifes_daily_pints_log) #answer which doesnot match

In [ ]:
print(wifes_daily_pints_log - daily_pints_log)

In [17]:
print(wifes_daily_pints_log ^ daily_pints_log) #unique to each sets
#duitaima jun jun value chaena tyo value dekhau cha

NameError: name 'wifes_daily_pints_log' is not defined

In [ ]:
#dictionaries
# key/VALUE Pair
dict_cream = {'name': 'Alex','dailr intake' : 5, 'favorite ice cream': ['Oreo','Chocolate']}

In [ ]:
type(dict_cream)

In [ ]:
dict_cream.values()

In [ ]:
print(dict_cream)

In [ ]:
dict_cream.keys()

In [ ]:
dict_cream.items()

In [ ]:
dict_cream['name']

In [ ]:
dict_cream['favorite ice cream']

In [ ]:
dict_cream['name'] = 'Ram'
print(dict_cream)

In [ ]:
dict_cream.update({'name': 'Ram', 'dailr intake': 5, 'weight': 300})

In [ ]:
print(dict_cream)

In [ ]:
del dict_cream['favorite ice cream']

In [ ]:
print(dict_cream)

In [ ]:
#operators
5 == 50

In [ ]:
5 != 50

In [ ]:
'Vanilla' == 'Chocolate'
'Vanilla' == 'Vanilla'

In [ ]:
x = 'vanilla'
y = 'Chocolate'
x != y

In [ ]:
x == y

In [ ]:
50 >= 10

In [ ]:
(90 > 50) and (50 > 10) #duitai true statement ho vaney true aucha natra euta true euta false cha vaney false aucha

In [ ]:
(10 > 50) or (50 > 10) #duitama euta matra correct ho avney pani true aucha

In [ ]:
not(50 > 10)

In [ ]:
ice_cream = 'I love choco ice cream.' #just checking if there is saph in the sentence or not
'saph' in ice_cream

In [ ]:
scoops = [1,2,3,4,5,6] #searching if 1 is within the list
1 in scoops

In [ ]:
scoops = [1,2,3,4,5,6]
8 not in scoops

In [ ]:
scoops = [1,2,3,4,5,6]
wanted_scoops = 8
wanted_scoops in scoops

In [ ]:
#IF Statement
if 25  > 10:
    print('works')

In [ ]:
if 25  > 10:
    print('it works')
else:
    print('It did not work..')

In [ ]:
if (25  < 10) or (1 < 3):
    print('it worked')
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif 3 worked')
elif 25 < 50:
    print('elif 4 worked')
else:
    print('It did not work..')

In [ ]:
print('it worked') if 10 > 30 else print('It did not work')

In [ ]:
if (25  < 10) or (1 < 3):
    print('it worked')
    if 10 > 5:
        print('This nested if statement worked')
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif 3 worked')
elif 25 < 50:
    print('elif 4 worked')
else:
    print('It did not work..')

In [ ]:
#fOR lLoops
integers = [1,2,3,4,5]
for number in integers:
    print(number)

In [ ]:
for number in integers:
    print('yep!')

In [ ]:
integers = [1,2,3,4,5]
for Jelly in integers:
    print(Jelly + Jelly)

In [ ]:
ice_cream_dict = {'name': 'Saph', 'daily intake': 2, 'favorite': ['Mint','Choco']}

In [ ]:
for cream in ice_cream_dict.values():
    print(cream)

In [ ]:
for cream in ice_cream_dict.keys():
    print(cream)

In [ ]:
for cream in ice_cream_dict.items():
    print(cream)

In [ ]:
for key, value in ice_cream_dict.items():
    print(key, '->',value)

In [ ]:
#nested for loops
flavors = ['choco', 'Vanilla', 'Strawberry', 'Mint']
toppings = ['Oreo', 'Skittles', 'Hot Fudge']

In [ ]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

In [ ]:
#While loops
number = 0

while number < 5:
    print(number)
    number = number + 1

In [ ]:
number = 0

while number < 5:
    print(number)
    if number == 3:
        break
    number = number + 1

In [ ]:
number = 0

while number < 5:
    print(number)
    if number == 6:
        break
    number = number + 1
else:
    print('No longer < 5')

In [ ]:
number = 0

while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print('No longer < 5')

In [ ]:
number = 0

while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print('No longer < 5')

In [ ]:
#functions
def first_func():
    print('We did it')

In [ ]:
first_func()

In [ ]:
def number_squared(number):
    print(number**2)

In [ ]:
number_squared(6)

In [ ]:
def number_squared_cus(number,power):
    print(number**power)

In [ ]:
number_squared_cus(2,5)

In [ ]:
args_tuple = (5,6,1,2,8)

def number_args(*number):
    print(number[3]*number[1])

In [ ]:
number_args(*args_tuple)

In [ ]:
def number_squared_cus(number,power):
    print(number**power)

In [ ]:
number_squared_cus(power = 5,number = 3)

In [ ]:
def number_kwarg(**number):
    print('My number is: ' + number['integer'] + ' My other number: '+ number['integer2'])

In [ ]:
number_kwarg(integer = '2309', integer2 = '349')

In [ ]:
#converting Data types

num_int = 7
type(num_int)

In [ ]:
num_string = '7'
type(num_string)

In [ ]:
nun_string_conv = int(num_string)
type(nun_string_conv)

In [ ]:
num_sum = num_int + nun_string_conv 
print(num_sum)

In [ ]:
type(num_sum)

In [ ]:
list_type = [1,2,3]
type(list_type)

In [ ]:
type(tuple(list_type)) #converting list into tuple by doing tuple(list_type)

In [ ]:
#convering list into a set
list_type = [1,2,3,4,5,2,3,1,2,3]

In [ ]:
type(set(list_type))

In [ ]:
dict_type = {'name': 'Alex','age':18,'Hair': 'brown'}

In [ ]:
type(dict_type)

In [ ]:
dict_type.items()

In [ ]:
dict_type.values()

In [ ]:
dict_type.keys()

In [ ]:
list(dict_type.keys())

In [ ]:
type(list(dict_type.keys()))

In [ ]:
type(list(dict_type.values()))

In [ ]:
long_str = 'I like to party'
list(long_str)

In [ ]:
set(long_str)

In [ ]:
#BMI Calculator
name = input("Enter your name: ")
weight = int(input("Enter your weight in pounds: "))
height = int(input("Enter your height in inches: "))
BMI = (weight * 703) / (height * height)
print(BMI)
if BMI>0:
    if(BMI<18.5):
        print(name +", you are Underweight.")
    elif(BMI<=24.9):
        print(name +", you are Normal Weight.")
    elif(BMI<= 29.9):
        print(name +", you are Overweight.")
    elif(BMI<=34.9):
        print(name +", you are Obese.")
    elif(BMI<=39.9):
        print(name +", you are Severely Obese.")
    else:
        print(name +", you are over	Morbidl Obese.")
else:
    print("Enter valid input: ")

In [ ]:
#BMI = (weight in pounds x 703) / (height in inches x height in inches)

In [ ]:
print(weight)

In [ ]:
Under 18.5	Underweight	Minimal
18.5 - 24.9	Normal Weight	Minimal
25 - 29.9	Overweight	Increased
30 - 34.9	Obese	High
35 - 39.9	Severely Obese	Very High
40 and over	Morbidly Obese	Extremely High

In [ ]:
#Automatic file sorter in file explorer

In [ ]:
import os, shutil #os = operating system

In [ ]:
path = r"C:\DATAProject2023\python/"

In [ ]:
file_name = os.listdir(path) #shows all the files in there

In [ ]:
folder_name = ['csv files', 'image files']
for loop in range(0,2):
    if not os.path.exists(path + folder_name[loop]): 
        print(path + folder_name[loop])#os.path.exists checks if the path already exists
        os.makedirs((path + folder_name[loop]))

In [ ]:
for file in file_name:
    if ".csv" in file and not os.path.exists(path + "csv files/" + file):
        shutil.move(path + file, path + "csv files/" + file)
    elif ".png" in file and not os.path.exists(path + "image files/" + file):
        shutil.move(path + file, path + "image files/" + file)
    else:
        print("There are files in this path that were not moved.")

In [ ]:
#Reading in Files in Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\DATAProject2023\python\Pandas\countries of the world.csv")
df    # pd.read_csv is used to read .csv files

In [ ]:
df = pd.read_table(r"C:\DATAProject2023\python\Pandas\countries of the world.txt")
df    #pd.read_table is used to read .txt files

In [ ]:
df = pd.read_json(r"C:\DATAProject2023\python\Pandas\json_sample.json")
df   #pd.read_json is used to read json files

In [ ]:
df2 = pd.read_excel(r"C:\DATAProject2023\python\Pandas\world_population_excel_workbook.xlsx", sheet_name = 'Sheet1')
df2   #pd.read_excel is usd to read xlsx i.e excel file

In [ ]:
pd.set_option('display.max.rows', 235) #to show all the rows in the file
pd.set_option('display.max.columns', 40) #to show all the columns in the file

In [ ]:
df2.info()

In [ ]:
df2.shape

In [ ]:
df2.head(10)

In [ ]:
df2.tail(10)

In [ ]:
df2['Rank']

In [ ]:
df2.loc[224]

In [ ]:
df2.iloc[224]

In [22]:
#Filtering and ordering
import pandas as pd

In [23]:
df = pd.read_csv(r"C:\DATAProject2023\python\csv files\world_population.csv")

In [24]:
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [25]:
df[df['Rank'] <= 10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

In [26]:
specific_countries = ['Bangladesh','Brazil']
df[df['Country'].isin(specific_countries)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372.0,167420951.0,157830000.0,148391139.0,129193327.0,107147651.0,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498.0,213196304.0,205188205.0,196353492.0,175873720.0,150706446.0,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70

In [27]:
df2 = df.set_index('Country')
df2

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [33]:
df2.filter(items = ['Continent','CCA3'],axis = 1)

                  Continent CCA3
Country
Afghanistan            Asia  AFG
Albania              Europe  ALB
Algeria              Africa  DZA
American Samoa      Oceania  ASM
Andorra              Europe  AND
...                     ...  ...
Wallis and Futuna   Oceania  WLF
Western Sahara       Africa  ESH
Yemen                  Asia  YEM
Zambia               Africa  ZMB
Zimbabwe             Africa  ZWE

[234 rows x 2 columns]

In [37]:
df2.filter(like = 'United',axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
United Arab Emirates,97,ARE,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
United Kingdom,21,GBR,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
United States,3,USA,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
United States Virgin Islands,200,VIR,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [38]:
df2.loc['United States']

Rank                                          3
CCA3                                        USA
Capital                        Washington, D.C.
Continent                         North America
2022 Population                     338289857.0
2020 Population                     335942003.0
2015 Population                     324607776.0
2010 Population                     311182845.0
2000 Population                     282398554.0
1990 Population                     248083732.0
1980 Population                     223140018.0
1970 Population                     200328340.0
Area (km²)                            9372610.0
Density (per km²)                       36.0935
Growth Rate                              1.0038
World Population Percentage                4.24
Name: United States, dtype: object

In [41]:
df2.iloc[3]

Rank                                 213
CCA3                                 ASM
Capital                        Pago Pago
Continent                        Oceania
2022 Population                  44273.0
2020 Population                  46189.0
2015 Population                  51368.0
2010 Population                  54849.0
2000 Population                  58230.0
1990 Population                  47818.0
1980 Population                  32886.0
1970 Population                  27075.0
Area (km²)                         199.0
Density (per km²)               222.4774
Growth Rate                       0.9831
World Population Percentage          0.0
Name: American Samoa, dtype: object